/* Fonts being imported to use on style sheet */
/* Parisienne */
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
/* Diplomata SC */
@import url('https://fonts.googleapis.com/css2?family=Diplomata+SC&display=swap');

@font-face {
    font-family: 'Moveri-Bold';
    src: url('../fonts/Moveri-Bold.ttf');
  }


body {
    background-image: url("assets/images/Edited Background (1).png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    background-color: rgb(233,116,81);
}

h1 {
    position: relative;
    left: 70%;
    color: rgb(247,231,206);
    font-family: 'Moveri-Bold', sans-serif;
    font-weight: bold;
    font-size: 80PX;
}

button {
    border-radius: 50%;
    padding: 10px;
}

h3 {
    font-family: 'Diplomata SC', cursive;
    color: rgb(233,116,81);
}
/* couldn't see text due to background image */
label {
    color: rgb(247,231,206);
    font-size: 18px;
}

/* styling to separate header from search content */
hr {
    border: 10px solid rgb(233,116,81);
    border-radius: 5px;
}
/* to display options in the center for user to read and select through */
.results-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(247,231,206);
    border: 0.2rem solid #fff;
    border-radius: 25px;
    margin-top: 25px;
    padding: 0.4em;
    box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #e97451, 0 0 0.8rem #fe1313, 0 0 2.8rem #fe1313, inset 0 0 1.3rem #e97451;
    
    
}
/* moving zip code search into position */
form {
    position: relative;
    bottom: 50px

}

.outingTypeContainer {
    font-size: 30px;
}

/* turn off google maps required div */
#map {
    display: none;
  }